<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .navItem {
            margin: 10px;

        }
    </style>
</head>

<body>

<div id="navbar" style="display: flex; flex-direction: row; flex-wrap: wrap">
    {% if not logged_in %}
        <a id="login" class="navItem" href="{% url 'web:login' %}">login</a>
        <a id="register" class="navItem" href="{% url 'web:register' %}">register</a>
    {% else %}
        <a id="logout" href="{% url 'web:logout' %}" class="navItem">logout</a>
    {% endif %}
    <a id="homepage" href="/" class="navItem">home page</a>
    <a id="contact_us" href="{% url 'web:contact_us' %}" class="navItem">contact us</a>

</div>

{% block salam %}
{% endblock %}
{% block contact_us %}
{% endblock %}
{% block successfull_submit %}
{% endblock %}

<div>
    {% block register_login %}



    {% endblock %}


</div>

</body>
</html>