{% extends 'base.html' %}


{% block profile %}

    <div id="all_courses">

        {% for course in all_courses %}

            {% if course not in my_courses %}
            <div class="{{ course.course_number }}_{{ course.group_number }}">
                <h4>{{ course.name }}</h4>
                <div>{{ course.department }}</div>
                <div>{{ course.get_first_day_display }} و {{ course.get_second_day_display }}</div>
                <div>{{ course.start_time }} {{ course.end_time }}</div>
                <div>{{ course.teacher }}</div>
                <a id="add_course" href="{% url 'web:add_course' course.course_number %}" class="add">add course</a>
            </div>
            {% endif %}

        {% endfor %}

    </div>


    <div id="my_courses">

        {% for course in my_courses %}
            <div class="{{ course.course_number }}_{{ course.group_number }}">
                <h4>{{ course.name }}</h4>
                <div>{{ course.department }}</div>
                <div>{{ course.get_first_day_display }} و {{ course.get_second_day_display }}</div>
                <div>{{ course.start_time }} {{ course.end_time }}</div>
                <div>{{ course.teacher }}</div>
            </div>

        {% endfor %}


    </div>


    <form id="search_form" method="post" action="{% url 'web:courses' %}">
        {% csrf_token %}
        <label for="search_query"></label><input id="search_query" name="search_query">
        <button name="submit">search</button>
        <label>
            <input type="checkbox" value="department" name="department">
            department
        </label>
        <label>
            <input type="checkbox" value="teacher" name="teacher">
            teacher
        </label>
        <label>
            <input type="checkbox" value="course" name="course">
            name
        </label>
    </form>

    {% if searched %}
        <div id="search_result">
            {% for course in searched_course %}
                <div class="{{ course.course_number }}_{{ course.group_number }}">
                    {{ course.name }}<br>
                    {{ course.teacher }}
                </div>
            {% endfor %}
        </div>

    {% endif %}

{% endblock %}

