{% extends 'base.html' %}


{% block register_login %}

    <h2>LOGIN</h2>
    <form id="login_form" method="post" action="{% url 'web:login' %}">
        {% csrf_token %}

        <label for="username">user name</label><br>
        <label>
            <input name="username" placeholder="username"><br>
        </label>
        <label for="password">password</label><br>
        <label>
            <input name="password" placeholder="password"><br>
        </label>
        <button type="submit" name="submit">login</button><br>
    </form>

    {% if error %}
        <div id="error">
            {{ error }}
        </div>
    {% endif %}


{% endblock %}