{% extends 'base.html' %}


{% block register_login %}

    <h2>LOGIN</h2>
    <form id="login_form" method="post" action="{% url 'web:login' %}">
        {% csrf_token %}

        <label>
            <input name="username" placeholder="username">
        </label>
        <label for="username">user name</label>
        <label>
            <input name="password" placeholder="password">
        </label>
        <label for="password">password</label>
        <button type="submit" name="submit">login</button>
    </form>

    {% if error %}
        <div id=”error”>
            {{ error }}
        </div>
    {% endif %}


{% endblock %}